// font sizes
$font-size: (
    title: 2rem,
    subtitle: 1.5rem,
    paragraph:1.1rem,
);

$font-lineHeight: (
    title:2rem,
    subtitle:1.5rem,
    text:1rem,
);

$font-weight: (
    light: 300,
    medium: 500,
    semiBold: 600,
    extraBold: 800,
    blackSize: 900,
);