// font sizes
$font-size: (
    title: 1.9rem,
    subtitle: 1.6rem,
    paragraph:1.3rem,
);

$font-lineHeight: (
    title:2.3rem,
    subtitle:1.9rem,
    text:1.5rem,
);

$font-weight: (
    light: 300,
    medium: 500,
    semiBold: 600,
    extraBold: 800,
    blackSize: 900,
);