@use "../_abstract/index" as *;

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    font-weight: 600;
    line-height: 2.5rem;

    .btn{
    border: solid .2rem map-get(map-get($colors, primary), 600 );

    }

    .btn--anchor{
        font-size: 1.3rem;
        padding: .1rem 1.3rem;

        svg {
            width: 1.9rem;
        }
    }
  
}