.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    font-weight: 600;
    line-height: 2.5rem;

    .btn{
        border: solid .3rem;

    }

    .btn--anchor{
        font-size: 2rem;
        padding: .6rem 1.3rem;

        svg {
            width: 1.9rem;
        }
    }
  
}