.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    font-weight: 600;
    line-height: 2.5rem;

    .btn{
        font-size: 2rem;
        border: solid .3rem;
    }
    .btn--anchor{
        padding: .6rem 1.6rem;
    }
}