@use "../_abstract/index" as *;


.home{
       content-visibility: auto;
    padding: unset;
padding-top: 6rem;
    &-content{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2vw;
        margin-top: -23rem;
        height: unset;
    }

    &-imgWrapper{
        width: 20vw;
        min-width: 15vw;
        clip-path: circle(47%);
    }

    &-wrapper{
        display: flex;
        flex-direction: column;
        gap: 1.6vw;
        width: 65rem;
    }

    &-titleWrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &-title{
         display: inline-block;
        text-transform: uppercase;
        font-size: 4rem;
        line-height: 8rem;
        font-weight: map-get($font-weight , extraBold );
        color: map-get(map-get($colors ,primary ), 600 );
    }

    &-subtitle{
         display: inline-block;
        font-size: 4rem;
        line-height: 4rem;
        margin-top: -2rem;
        font-weight: map-get($font-weight , semiBold );
        color: map-get(map-get($colors ,primary ), 500 );
    }

    &-text{
        width: 100%;
        font-size: 1.5rem;
        line-height: 2rem;
        padding-top: 1.9rem;
        font-weight: map-get($font-weight , medium );
        color: map-get(map-get($colors ,secondary ), 600 );

        span{
            font-weight: map-get($font-weight , extraBold );
        }
    }
}