@use "../_abstract/index" as *;

.btn--anchor{
 border: none;
 display: flex;
 gap: 1rem;
 align-items: center;
 text-decoration: none;
 width: 100%;
 height: 100%;
 color:  map-get(map-get($colors, primary), 600 );
 font-weight: map-get( $font-weight, medium );
 

   &:active {
        color: map-get(map-get($colors, secondary), 100 );
    }
}