.btn--anchor{
 border: none;
 display: flex;
 gap: 1rem;
 align-items: center;
 text-decoration: none;
 transition: 1s ease-out;
 width: 100%;
 height: 100%;
 padding: .3rem 1.3rem;
color:  #4F3874;
font-weight: 500;


   &:active {
        color: #E8F7F7;
    }


     &:visited {
        color:  #4F3874;
    }
}