.btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .6rem 1rem;
    border: solid .2rem #4F3874;
    border-radius: .6rem;
    background-color: transparent;

    &:hover {
        background-color: #E8F7F7;
        border-color: #E8F7F7;
        color:  #4F3874;
        cursor: pointer;
    }

    &:active {
        border: solid .2rem transparent;
        color: #E8F7F7;
        background: radial-gradient(circle,rgba(22, 141, 154, 0.89) 0%, rgba(132, 181, 186, 0.3) 100%);
    }
}