@use "../variables" as *;


.home{

    &-content{

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        margin-top: -6vw;
        width: 50vw;
    }

    &-imgWrapper{
        min-width: 20vw;
        max-width: 40%;
        clip-path: circle(47%);
    }

    &-wrapper{
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    &-titleWrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &-title{
        text-transform: uppercase;
        font-size: 5.6rem;
        line-height: 7.7rem;
        font-weight: map-get($font-weight , extraBold );
        color: map-get(map-get($colors ,primary ), 600 );
    }

    &-subtitle{
        font-size: 5rem;
        line-height: 7rem;
        margin-top: -2rem;
        font-weight: map-get($font-weight , semiBold );
        color: map-get(map-get($colors ,primary ), 500 );
    }

    &-text{
        max-width: 100%;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: map-get($font-weight , medium );
        color: map-get(map-get($colors ,secondary ), 600 );

        span{
            font-weight: map-get($font-weight , extraBold );
        }
    }
}

