*, before, after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
     scrollbar-width: none;
     font-family: sans-serif;
}

body{
    box-sizing: inherit;
    scrollbar-width: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
    background: radial-gradient(circle,rgba(181, 212, 215, 0.3) 0%, rgba(23, 141, 154, 0.6) 100%);
   
}

 body::-webkit-scrollbar, 
 body::-webkit-scrollbar-button { display: none; }